<a href="https://colab.research.google.com/github/michiWS1920/nfl_data/blob/michi/playingaround.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
library(tidyverse)
library(ggplot2)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
install.packages("googledrive")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘gargle’

In [ ]:
library(googledrive)

In [ ]:
chicken <- drive_upload(
  drive_example("chicken.csv"),
  "README-chicken.csv"

In [ ]:
first <- 2009 
last <- 2019 

datalist = list()
for (yr in first:last) {
    pbp <- read_csv(url(paste0("https://github.com/ryurko/nflscrapR-data/raw/master/play_by_play_data/regular_season/reg_pbp_", yr, ".csv"))) #read every play by play data
    games <- read_csv(url(paste0("https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/games_data/regular_season/reg_games_", yr, ".csv"))) #read game data including score/ week etc.
    pbp <- pbp %>% 
      inner_join(games %>% distinct(game_id, week, season)) %>% #join the two
      select(-fumble_recovery_2_yards, -blocked_player_id, -fumble_recovery_2_player_id) # throw some variables out that are inconsistent in format over the seasons
    datalist[[yr]] <- pbp 
}

pbp_all <- dplyr::bind_rows(datalist)

In [ ]:
# Change teamnames for teams that changed their names in the last 10 seasons - to have consistent data
pbp_all <- pbp_all %>% 
	mutate_at(vars(home_team, away_team, posteam, defteam), funs(case_when(
            . %in% "JAX" ~ "JAC",
            . %in% "STL" ~ "LA",
            . %in% "SD" ~ "LAC",
            TRUE ~ .
        )))

In [1]:
#saveRDS(pbp_all, file="NFLdata.rds")
pbp_all <- readRDS("NFLdata.rds")

In [5]:
# cleaning for further analysis
pbp_all_rp <- pbp_all %>%
      filter(!is.na(epa), !is.na(posteam), play_type=="no_play" | play_type=="pass" | play_type=="run") %>% #filter out certain NA values, only show three play_types
	mutate( #create new columns that indicates if the play was a pass or rush - this is done by parsing the description of the play (certain keywords are perfect indicators)
	pass = if_else(str_detect(desc, "( pass)|(sacked)|(scramble)"), 1, 0), #
	rush = if_else(str_detect(desc, "(left end)|(left tackle)|(left guard)|(up the middle)|(right guard)|(right tackle)|(right end)") & pass == 0, 1, 0),
	success = ifelse(epa>0, 1 , 0),
	passer_player_name = ifelse(play_type == "no_play" & pass == 1, #create new column that parses the player_name depending on the type of play (pass / receiver / rusher)
              str_extract(desc, "(?<=\\s)[A-Z][a-z]*\\.\\s?[A-Z][A-z]+(\\s(I{2,3})|(IV))?(?=\\s((pass)|(sack)|(scramble)))"),
              passer_player_name),
        receiver_player_name = ifelse(play_type == "no_play" & str_detect(desc, "pass"), 
              str_extract(desc, "(?<=to\\s)[A-Z][a-z]*\\.\\s?[A-Z][A-z]+(\\s(I{2,3})|(IV))?"),
              receiver_player_name),
        rusher_player_name = ifelse(play_type == "no_play" & rush == 1, 
              str_extract(desc, "(?<=\\s)[A-Z][a-z]*\\.\\s?[A-Z][A-z]+(\\s(I{2,3})|(IV))?(?=\\s((left end)|(left tackle)|(left guard)|		      (up the middle)|(right guard)|(right tackle)|(right end)))"),
              rusher_player_name),
	name = ifelse(!is.na(passer_player_name), passer_player_name, rusher_player_name),
	yards_gained=ifelse(play_type=="no_play",NA,yards_gained), # filter out NA for yards_gained
	play=1
	) #%>%
	#filter(pass==1 | rush==1) #only keep passes and rushes

In [15]:
pbp_all_rp %>%
select(play_type) %>%
head()

  play_type
1 pass
2 run
3 pass
4 run
5 pass
6 run

Problem is Timeouts are in noplay, have to filter them out

In [18]:
pbp_all_rp %>%
group_by(season) %>%
filter(play_type== "no_play", str_detect(desc, "(Timeout)")) %>%
select(desc)

Adding missing grouping variables: `season`

      season desc
1     2009   Timeout #1 by PIT at 01:29.
2     2009   Timeout #1 by TEN at 00:54.
3     2009   Timeout #2 by PIT at 00:27.
4     2009   Timeout #3 by PIT at 00:07.
5     2009   Timeout #1 by PIT at 01:03.
6     2009   Timeout #2 by PIT at 00:44.
7     2009   Timeout #3 by PIT at 00:41.
8     2009   Timeout #1 by PIT at 10:34.
9     2009   Timeout #1 by CLE at 01:46.
10    2009   Timeout #1 by CLE at 00:59.
11    2009   Timeout #1 by DET at 14:11.
12    2009   Timeout #2 by DET at 03:49.
13    2009   Timeout #1 by NO at 02:36.
14    2009   Timeout #2 by NO at 01:03.
15    2009   Timeout #2 by NO at 01:03.
16    2009   Timeout #3 by NO at 00:07.
17    2009   Timeout #1 by NO at 06:18.
18    2009   Timeout #1 by DAL at 10:22.
19    2009   Timeout #1 by TB at 13:05.
20    2009   Timeout #2 by DAL at 02:50.
21    2009   Timeout #3 by DAL at 01:08.
22    2009   Timeout #2 by TB at 00:07.
23    2009   Timeout #3 by TB at 00:02.
24    2009   Timeout #1 by NYJ at 00:16.
25    2009   Timeout #2 by NYJ at 01:11.
26    2009   Timeout #3 by NYJ at 00:02.
27    2009   Timeout #1 by HOU at 05:57.
28    2009   Timeout #2 by HOU at 01:42.
29    2009   Timeout #1 by JAC at 01:16.
30    2009   Timeout #1 by IND at 01:04.
⋮     ⋮      ⋮
19114 2019   Timeout #1 by PIT at 10:02.
19115 2019   Timeout #1 by BAL at 09:52.
19116 2019   Timeout #3 by BAL at 00:30.
19117 2019   Timeout #1 by IND at 01:55.
19118 2019   Timeout #1 by JAX at 00:51.
19119 2019   Timeout #2 by JAX at 00:44.
19120 2019   Timeout #3 by JAX at 00:02.
19121 2019   Timeout #1 by OAK at 08:32.
19122 2019   Timeout #3 by OAK at 00:56.
19123 2019   Timeout #1 by DEN at 00:49.
19124 2019   Timeout #2 by DEN at 00:38.
19125 2019   Timeout #1 by DEN at 04:46.
19126 2019   Timeout #2 by DEN at 03:55.
19127 2019   Timeout #1 by OAK at 03:05.
19128 2019   Timeout #2 by OAK at 02:51.
19129 2019   Timeout #3 by OAK at 01:46.
19130 2019   Timeout #1 by LA at 01:09.
19131 2019   Timeout #1 by ARI at 00:38.
19132 2019   Timeout #2 by LA at 00:13.
19133 2019   Timeout #1 by ARI at 06:29.
19134 2019   Timeout #1 by LA at 09:26.
19135 2019   Timeout #2 by ARI at 02:59.
19136 2019   Timeout #2 by LA at 01:54.
19137 2019   Timeout #3 by LA at 00:02.
19138 2019   Timeout #1 by SF at 01:05.
19139 2019   Timeout #1 by SEA at 00:49.
19140 2019   Timeout #1 by SF at 05:55.
19141 2019   Timeout #1 by SEA at 02:34.
19142 2019   Timeout #2 by SEA at 00:46.
19143 2019   Timeout #3 by SEA at 00:42.

In [27]:
pbp_all_rp %>%
group_by(season) %>%
filter(play_type == "no_play", !str_detect(desc, "(Timeout)")) %>%
#select(desc) %>%
count(season) -> pbp_all_flags
pbp_all_flags

   season n
1  2009   2215
2  2010   2326
3  2011   2459
4  2012   2445
5  2013   2276
6  2014   2527
7  2015   2632
8  2016   2584
9  2017   2482
10 2018   2492
11 2019   2580

In [32]:
pbp_all_rp %>%
group_by(season) %>%
filter(play_type == "no_play", !str_detect(desc, "(Timeout)"), str_detect(desc, "(Holding)")) %>%
select(desc) %>%
count(season)

Adding missing grouping variables: `season`

   season n
1  2009   414
2  2010   478
3  2011   508
4  2012   567
5  2013   521
6  2014   597
7  2015   680
8  2016   657
9  2017   609
10 2018   659
11 2019   683

NFL started to take holding much more seriously in later seasons.